/*-----------------------------Body---------------------------*/

@font-face {
    font-family: BaronNeue;
    src: url(../fonts/baron_neue/BaronNeueBold.otf);
}

@font-face {
    font-family: BaronNeueBlack;
    src: url(../fonts/baron_neue/BaronNeueBlack.otf);
}

@font-face {
    font-family: BaronNeueRegular;
    src: url(../fonts/baron_neue/BaronNeue.otf);
}

@font-face {
    font-family: Arial_Regular;
    src: url(../fonts/arial/ArialRegular/ArialRegular.ttf);
}

/*-----------------------------Body---------------------------*/

body {
    margin: 0 auto;
}

/*-----------------------------Main---------------------------*/

.main {
    width: 1920px;
    margin: 0 auto;
    padding: 35px 35px 0;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    box-sizing: border-box;
}

/*-----------------------------Header---------------------------*/

.header {
    width: 100%;
    height: 1010px;
    background: url(../img/header_title.png) no-repeat;
}

.block-standart-params {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 35px;
    background: linear-gradient(to right, #f4f4f4, #fefefe);
    box-sizing: border-box;
}

.about-content-wrap,
.works-content-wrap,
.web-development-wrap {
    display: flex;
    width: 1281px;
}
/*-----------------------------About-Scriptum-------------------*/

.about-scriptum {
    flex-flow: row wrap;
    justify-content: center;
    height: 718px;
}

.about-content-wrap {
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 133px 0 0 10px;
}

.about-scriptum-picture {
    width: 678px;
    height: 452px;
    background: url(../img/about_scriptum.png) no-repeat;
}

.about-scriptum-text-box {
    margin-left: 46px;
    width: 550px;
    height: 452px;
}

.about-title {
    margin: 44px 0 44px 0;
    font-family: BaronNeue;
    font-size: 46px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-shadow: 20px 20px 30px 10px black;
}

.about-text {
    font-family: Arial_Regular;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 2px;
}

.about-learn-more {
    margin: 42px 0 10px 0;
    font-family: BaronNeue;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: -1px;
}

/*-----------------------------Works---------------------------*/

.works {
    justify-content: center;
    height: 1327px;
}

.works-content-wrap {
    margin: 121px 0 0 0;
    flex-flow: column wrap;
    align-items: center;
}

.works-title {
    padding-left: 4px;
    font-family: BaronNeue;
    font-size: 39px;
    letter-spacing: 1px;
    text-align: center;
}

.works-block {
    margin: 54px 0 0 -25px;
    width: 283px;
    font-family: BaronNeueRegular;
    font-size: 13px;
    letter-spacing: 1px;
}

.works-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}

.works-nav-box {
    display: block;
    height: 18px;
    margin-left:26px;
    padding-bottom: 7px;
    box-sizing: border-box;
}

.works-nav-box a {
    color: black;
}

.works-nav-box:hover,
.works-nav-box:focus {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.works-pictures-wrap {
    margin: 52px 0 0 0;
    display: flex;
    flex-flow: row wrap;
}

.works-column {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.works-column:last-child {
    margin-right: 0;
}

.works-pic-1,
.works-pic-2,
.works-pic-3, 
.works-pic-4, 
.works-pic-5, 
.works-pic-6, 
.works-pic-7, 
.works-pic-8 { 
    width: 408px;
    height: 247px;
    background-size: 100%;
    margin-bottom: 24px;
}

.works-pic-1 {
    background: url(../img/works_1.png) -6px -42px  no-repeat;
}

.works-pic-2 {
    background: url(../img/works_2.png) center center  no-repeat;
}

.works-pic-3 {
    background: url(../img/works_3.png) -5px -23px  no-repeat;
}

.works-pic-4 {
    height: 224px;
    background: url(../img/works_4.png) center center  no-repeat;
}

.works-pic-5 {
    height: 286px;
    background: url(../img/works_5.png) center center  no-repeat;
}

.works-pic-6 {
    height: 305px;
    background: url(../img/works_6.png) center center  no-repeat;
}

.works-pic-7 {
    height: 385px;
    background: url(../img/works_7.png) 0px center  no-repeat;
}

.works-pic-8 {
    height: 500px;
    background: url(../img/works_8.png) -220px -13px   no-repeat;
}

/*-----------------------------Web development-----------------------*/

.web-development {
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 800px;
    box-sizing: border-box;
}

/*
.web-development-wrap {
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
}
*/

.web-development-picture {
    width: 925px;
    height: 800px;
    background: url(../img/wd_bg.png) center center no-repeat;
}

.web-development-picture-button-wrap {
    position: relative;
    margin: 341px 0 0 89px;
    font-family: BaronNeueRegular;
    font-size: 67px;
    letter-spacing: 3px;
    word-spacing: 1px;
}

.web-development-picture-button-wrap li {
    width: 747px;
    height: 116px;
    border: 3px solid white;
    box-sizing: border-box;
}

.web-development-picture-text{
    color: white;
    line-height: 89px;
    text-align: center;
}

.web-development-picture-button {
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
/*    margin: 3px 0 0 3px;*/
}

.web-development-nav-wrap {
}

.web-development-nav {
/*    padding: 20px 0 0 0;*/
    width: 925px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
    font-family: BaronNeueRegular;
    letter-spacing: 2px;
    font-size: 14px;
}

.web-development-nav-block {
    margin: 143px -59px 0 235px;
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    width: 140px;
}


.web-developmen-nav-box {
    margin: 5px 0 50px 0;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
/*    justify-content: center;*/
}

.web-developmen-nav-box div:first-child {
    padding-bottom: 30px;
}

.web-developmen-nav-box a {
    color: black;
}

.web-delopment-icons {
    width: 81px;
    height: 81px;
}

/*-----------------------------Skills-----------------------*/

.skills {
    justify-content: center;
    height: 720px;
}

.skills-data-wrap {
    width: 1270px;
    height: 340px;
}

.skills-title {
    padding-top: 118px;
    padding-left: 0px;
    font-family: BaronNeue;
    font-size: 47px;
    letter-spacing: 1px;
    text-align: center;
}

.skill-name {
    font-family: BaronNeueRegular;
    font-size: 14px;
    letter-spacing: 1px;
}

.skill-design,
.skill-css3,
.skill-javascript {
    padding-top: 76px;
    height: 54px;
}

.skill-design-line,
.skill-css3-line,
.skill-javascript-line {
    display: block;
    width: 100%;
    height: 36px;
    margin-top: 32px;
    background-color: #f3f3f3;  
}

/*-----------------------------Iphone-----------------------*/

.iphone {
    display: flex;
    height: 842px;
    justify-content: center;
}

.iphone-img {
/*    margin: 0 76px 0 58px;*/
    width: 244px;
    height: 508px;
    background: url(../img/iPhone-5S-Black.png) no-repeat; 
    background-size: 100%;
}

.iphone-wrap,
.iphone-photos,
.iphone-responsive,
.iphone-retina,
.iphone-coffeescript {
    display: flex;
    flex-direction: row wrap;
/*    margin-top: 38px;*/
}

.iphone-responsive,
.iphone-coffeescript {
    margin-top: 38px;
}

.iphone-wrap {
    padding-top: 171px;
    margin-top: 0;
    width: 1270px;
    justify-content: space-between;
}

.photos-img{
    margin-top: 3xp;
}

.iphone-block-left {
    margin: 78px 0px 0px 56px;    
}

.iphone-block {
    padding: 0 0 0 30px;
    width: 276px;
}

.iphone-title {
    font-family: BaronNeue;
    font-size: 14px;
    letter-spacing: 1px;
}

.iphone-text {
    padding-top: 10px;
    font-family: Arial;
    font-size: 15px;
    letter-spacing: 1px;
    color: #a1a1a1;
    line-height: 25px;
}

.iphone-block-right {
        margin: 74px 67px 0 0;
}

.iphone-block-right .iphone-block{

    text-align: right;
    padding: 0 22px 0 0;;
} 